extends layout

block content
  h1= title
  p Welcome to our current inventory of items. We will adding more soon, with pictures and a modern website 
  ul 
  each gig  in gigs
    li  #{gig.title} - #{gig.description} from #{gig.contact_email}


