extends layout

block content
    .container
        p
        h1 Thin Air LTD homepage
        .container
            p.lead
            | These are our current inventory of items. We will adding more soon, with pictures and a modern website
            p.lead
            ul.list-group
            li.list-group-item.lead  Personal Submarine  - A modern two-person submersible that can descend to a depth of 1,000' for $2,000,000. Contact Zimmerman when our website launches! 
            li.list-group-item.lead  StarGod - A 16″ f/8 telescope with StarLock feature. Search for Galaxyventures on 1st Jan 2021 !
            p.lead
            | In the meanwhile, please register with us and make sure you are able to login before our launch date!





