extends layout

block content
    .container
        p
        h1 Thin Air LTD homepage
        div(class = "container")
            p.lead
            ul.list-group
            li.list-group-item.lead  
                p Welcome to our new website. Please login to shop your favorite products!
                p 
                    img(src="../home.png", alt="Welcome Page" class="img-fluid rounded") 






