extends layout

block content
    .container
        p
        h1 Thin Air LTD homepage
        .container
            p.lead
            | These are our current inventory of items. We will adding more soon, with pictures and a modern website
            ul.list-group
            li.list-group-item.lead  Sample 1 - A nice sample from test@test.com
            li.list-group-item.lead  Sample 2 - A second nice sample from test@test2.com
            p.lead
            | In the meanwhile, please register with us and make sure you are able to login before our launch date!





