doctype html
html
  head
    title Thin Air LTD 
    link(rel='stylesheet' href='/css/bootstrap.css' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/main.css')
    link(rel='stylesheet' href='/css/style.css')
    script(src='https://code.jquery.com/jquery-1.10.2.js')
    script(src='/js/bootstrap.js')
    script(src='/jquery.slim.min.js')




  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='/') Thin Air LTD
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/') Home 
          
          if user 
            li.nav-item
              a.nav-link(href='/accounts/logout') 
            li.nav-item
              a.nav-link(href='/accounts/logout') Logout 
            li.nav-item
              a.nav-link(href='/shop/products/list') Shop 
            li.nav-item
              a.nav-link(href='/shop/basket/mybasket') My Basket 
          else 
            li.nav-item
              a.nav-link(href='/accounts/login') Login
            li.nav-item
              a.nav-link(href='/accounts/registration') Register
            li.nav-item
              a.nav-link(href='/api/partnerfaq') FAQ for Partners
        if user 
          button.btn.btn-secondary.my-2.my-sm-0(type='button', disabled='') #{user.first_name} 






    .container
      != messages('message',locals)

      block content

    script(src='/js/bootstrap.js')
    script(src='/jquery.slim.min.js')
    div(class="container p-5")
      footer.text-center.small
        p Copyright &copy; 2021
