extends layout

block content
    .container
        h1 Partner FAQs
        table.table
            tbody
                //- Question and Answer section 
                tr
                    td 
                        h3 Creating products 
                        br
                        button(class = "btn btn-info") POST /api/products/create
                        p Following example shows how to do so in a tool like Postman: 
                        p 1. Make sure add the bearer token in the header 
                        p 2. Submit a request via the API 
                        p Use the two screenshots below as your guidance. 
                        p
                            img(src="../brearer_token.png", alt="Bearer Token" class="img-fluid border border-secondary rounded") 
                        p 
                            img(src="../create_products.png", alt="Create Products" class="img-fluid border border-secondary rounded")                         

                //- Question and Answer section 
                tr
                    td 
                        h3 Viewing details of a single product 
                        br
                        button(class = "btn btn-info") GET /api/products/your_product_id
                        p Following example shows how to do so in a tool like Postman: 
                        p 1. Make sure add the bearer token in the header 
                        p 2. Submit a request via the above API  
                        p Use the screenshot below as your guidance. 
                        p
                            img(src="../viewsingleitem.png", alt="Viewing a single item" class="img-fluid border border-secondary rounded") 

                //- Question and Answer section 
                tr
                    td 
                        h3 Viewing details of all products using pagination  
                        br
                        button(class = "btn btn-info") GET /api/products?page=X&pagination=Y
                        p Following example shows how to do so in a tool like Postman: 
                        p 1. Make sure add the bearer token in the header 
                        p 2. Submit a request via the above API  with the page number and the number of items per page 
                        p Use the two screenshots below as your guidance. 
                        p
                            img(src="../pagination1.png", alt="Bearer token and end point" class="img-fluid border border-secondary rounded") 
                        p
                            img(src="../pagination2.png", alt="Page and Pagination Configuration" class="img-fluid border border-secondary rounded") 
                //- Question and Answer section 
                tr
                    td 
                        h3 Deleting a product
                        br
                        button(class = "btn btn-info") DELETE /api/products/your_product_id
                        p Following example shows how to do so in a tool like Postman: 
                        p 1. Make sure add the bearer token in the header 
                        p 2. Submit a request via the above API  with the product ID. You will get a success message once the deletion is done 
                        p Use the two screenshots below as your guidance. 
                        p
                            img(src="../delete1.png", alt="Bearer token and end point" class="img-fluid border border-secondary rounded") 
                        p
                            img(src="../delete2.png", alt="Page and Pagination Configuration" class="img-fluid border border-secondary rounded") 



            
                







