extends layout

block content
    .container
        p
        h2 Payment complete 
        .container
            p.lead
            ul.list-group
            li.list-group-item.lead  You will receive an email confirmation for your order within the next 24 hours.  Thank you for shopping with us!
            





